.cats-vertical {
  white-space: nowrap; transform: rotate(270deg); transform-origin: 24% top
}
.color-cell {
  margin: 0; padding: 0; border: 1px solid black
}
.color-div {
  width: 35px; height: 32px
}
.counter {
  margin: 0; padding: 0 8px 0 0; text-align: right
}
.form-cell {
  width: 36px; padding-right: 8px; text-align: center
}